body{
  height: 100px;
  width:100%;
  background-color:aquamarine;
}
.header{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  background-color:transparent;
  padding: 30px ;
  background-color: blueviolet;
  display: flex;
  hover: auto;
}
.container{
  position:absolute;
  left: 50%;
  top: 50%;
  background-color: blue;
  width: 75%;
}