body{
  height: 100px;
  width:100%;
  background-color:rgb(217, 239, 232);
}
.header{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  background-color:transparent;
  padding: 30px ;
  background-color: rgb(204, 186, 220);
  display: flex;
  justify-content:space-evenly;
}
.container{
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 95%;
  height: 550px;
  margin-top:35px;
  
}